aside {
	background-color: $aside-bg-violet;
	color: $main-text-white;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	transition: width 300ms linear;
	width: 40%;

	header{
		display: flex;
		justify-content: space-between;
		margin: .25rem 0;
		padding: 0.5rem;

		.arrow-icon {
			min-width: 40px;
			min-height: 40px;
			text-align: center;
		}

		.arrow-image {        //it's an image of arrow by itself.
			border-left: 1px solid $icons-white;
			border-top: 1px solid $icons-white;
			display: inline-block;
			height: 10px;
			transform: rotate(-45deg);
			transition: transform 200ms linear;
			width: 10px;
			}

		.search-field {
			flex-grow: 1;
    		margin-left: .8rem;
    		margin-right: 1rem;
    		text-align: center;

			input {
				width: 75%;
			}
		}

		.sandwich-icon {
			@extend .arrow-icon;
			font-size: 1rem;
			margin-right: .4rem;
		  	padding-left: 1.5em;
		  	position: relative;
		  	
		 	&::before {
				border-bottom: 0.125em solid $icons-white;
				border-top: 0.375em double $icons-white;
				content: "";
				height: 0.125em;
				left: 0;
				position: absolute;
				top: 0.25em;
				width: 1em;
		  	}
		}
	}

	.menu {
		background-color: #fff;
		box-shadow: 0 0 0.5rem $menu-shadow-violet;
		display: none;
		position: absolute;
		right: 1.7rem;
    	top: 2.25rem;

    	li {
    		border-bottom: 1px solid $forms-border-violet;
    	}
    
		a {	
			color: $a-text-violet;
			display: inline-block;
			padding: .5em 1.5rem;
			width: 100%;
			&:hover {
				background-color: $hover-bg;
				color: $main-text-white; 
			}
		}
	}

	.showed-menu {
		display: block;
	}

	.contact-list {
		ul {
			display: flex;
			flex-direction: column;
		}

		li {
			display: flex;
			justify-content: space-between;
			padding: .5em .5rem;
			&:hover {
				background-color: $hover-bg;
			}

			.user-info {
				flex-grow: 1;
				margin: 0 .8rem;
				p {
					font-size: .7em;
				}

				.user-name {
					font-size: .8em;
				}
			}

			.timer {
				align-self: center;
				background-color: $timer-bg;
				border-radius: 15px;
				font-size: .6em;
				margin-right: 1rem;
				min-width: 40px;
    			padding: .5em .4rem;
    			text-align: center;
			}
		}

		.active-user {
			background-color: $active-bg;

			&:hover {
				background-color: $active-bg;
			}
			.timer {
				background-color: $active-timer-bg-white;
				color: $active-timer-text-pink;
			}
		}
	}
}

.closed-state {
	width: 60px;
	header {
		.arrow-image {
			transform: rotate(135deg);
		}
	}
}