aside{
		background-color: $aside-bg-violet;
		color: $main-text-white;
		width: 40%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		header{
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;
			.btn {
			display: inline-block;
			width: 30px;
			height: 30px;
			}
					.arrow-btn{
						margin-left: 10px;
						float: left;
						.arrow{
							display: inline-block;
							width: 10px;
							height: 10px;
							border-top: 1px solid $icons-white;
							border-left: 1px solid $icons-white;
							transform: rotate(-45deg);
						}
					}
					.search-field{
						width: 50%;
					}
					.sandwich-btn {
						position: relative;
						float: right;
						margin-right: 10px;
			  			padding-left: 1.25em;

			  			&::before {
			  				content: "";
							position: absolute;
							top: 0.25em;
							left: 0;
							width: 1em;
							height: 0.125em;
							border-top: 0.375em double $icons-white;
							border-bottom: 0.125em solid $icons-white;
			  			}
			  		}
				}
			}