html {
	height:100%;
	font-family: Arial, serif;
	font-size: $font-base;
}

body {
	height: 100%;
}

input{
    height: 1.2rem;
    outline: none;
    padding-left: .5rem;
}

button {
	border-radius: .75rem;
	background-color: $buttons-bg-violet;
	color: $main-text-white;
	height: 1.5rem;
	&:hover {
		background-color: $hover-bg;
	}
}

.chat-page {
	align-items: stretch;
	display: flex;
	min-height: 100%;
	font-size: .8rem;
	width: 100%;

	input {
		background-color: $input-bg-violet;
		border-radius: .75rem;
		font-size: .6rem;
		
	}

	textarea {
		@extend input;
		resize: none;
	}

	.photo {
		background: url("../pics/beagle.png");
		background-position: -12px 0;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 40px;
		min-width: 40px;
	}
}