.forms-content {
	border: 1px solid $forms-border-violet;
	border-radius: 10px;
    box-shadow: 0 0 10px $forms-border-violet;
    display: flex;
	flex-direction: column;
	font-size: .8rem;
	margin: 40px; //temp margin to see all borders;
	width: 300px;
	nav {
		border-bottom: 1px solid $forms-border-violet;
	}
	ul {
		display: flex;
		li {
			background-color: $forms-tab-buttons-bg;
			flex-grow: 1;
		    padding: .75rem;
		    text-align: center;
		    &:first-child {
		    	border-radius: 10px 0 0 0;
		    	border-right: 1px solid $forms-border-violet;
		    }
		    &:last-child {
		    	border-radius: 0 10px 0 0;
		    }
		    &:hover {
		    	background-color: $hover-bg;
		    	color: $main-text-white;
		    }
		}
		.active-tab{
			background-color: $active-tab-bg;
			box-shadow: 0 0 5px $forms-border-violet;
			color: $main-text-white;
			&:hover {
				background-color: $active-tab-bg;
			}
		}	
	}
	form {
		display: flex;
		flex-direction: column;

		* {
			margin: .35em .8rem;
		}

		label {
			margin-top: 1rem;
		}

		input {
			border-bottom: 1px solid $input-underline-violet;
		}

		button {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.a-container{
			display: flex;
		}

		a {
			color: $a-text-violet;
			font-size: .7rem;
			&:hover {
				color: $a-hover-text-color;
			}
		}
	}
	.sign-in-form {
		display: none;
	}
}