html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, em, img,
small, strike, strong, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
figure, figcaption, footer, header,
nav, output, section, input, .chat-page textarea, button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: Arial, serif;
  font-size: 20px; }

body {
  height: 100%; }

input, .chat-page textarea {
  height: 1.2rem;
  padding-left: .5rem;
  outline: none; }

button {
  border-radius: .75rem;
  background-color: #989ad7;
  color: #fff;
  height: 1.5rem; }
  button:hover {
    background-color: #484cc4; }

.chat-page {
  align-items: stretch;
  display: flex;
  min-height: 100%;
  font-size: .8rem;
  width: 100%; }
  .chat-page input, .chat-page textarea {
    background-color: #f1f1fb;
    border-radius: .75rem;
    font-size: .6rem; }
  .chat-page textarea {
    resize: none; }
  .chat-page .photo {
    background: url("../pics/beagle.jpg");
    border-radius: 50%;
    height: 40px;
    width: 40px; }

.forms-content {
  border: 1px solid #989ad7;
  border-radius: 10px;
  box-shadow: 0 0 10px #989ad7;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  margin: 40px;
  width: 300px; }
  .forms-content nav {
    border-bottom: 1px solid #989ad7; }
  .forms-content ul {
    display: flex; }
    .forms-content ul li {
      background-color: #f1f1fb;
      flex-grow: 1;
      padding: .75rem;
      text-align: center; }
      .forms-content ul li:first-child {
        border-radius: 10px 0 0 0;
        border-right: 1px solid #989ad7; }
      .forms-content ul li:last-child {
        border-radius: 0 10px 0 0; }
      .forms-content ul li:hover {
        background-color: #484cc4;
        color: #fff; }
    .forms-content ul .active-tab {
      background-color: #3b3e99;
      box-shadow: 0 0 5px #989ad7;
      color: #fff; }
      .forms-content ul .active-tab:hover {
        background-color: #3b3e99; }
  .forms-content form {
    display: flex;
    flex-direction: column; }
    .forms-content form * {
      margin: .35em .8rem; }
    .forms-content form label {
      margin-top: 1rem; }
    .forms-content form input, .forms-content form .chat-page textarea, .chat-page .forms-content form textarea {
      border-bottom: 1px solid #3b3e99; }
    .forms-content form button {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .forms-content form .a-container {
      display: flex; }
    .forms-content form a {
      color: #3b3e99;
      font-size: .7rem; }
      .forms-content form a:hover {
        color: #f1f1fb; }
  .forms-content .sign-in-form {
    display: none; }

aside {
  background-color: #3b3e99;
  color: #fff;
  width: 40%;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  aside header {
    display: flex;
    justify-content: space-between;
    margin: .25rem 0;
    padding: 0.5rem; }
    aside header .arrow-icon, aside header .sandwich-icon {
      min-width: 40px;
      min-height: 40px;
      text-align: center; }
      aside header .arrow-icon .arrow-image, aside header .sandwich-icon .arrow-image {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg); }
    aside header .search-field {
      flex-grow: 1;
      margin-left: .8rem;
      margin-right: 1rem; }
      aside header .search-field input, aside header .search-field .chat-page textarea, .chat-page aside header .search-field textarea {
        width: 100%; }
    aside header .sandwich-icon {
      font-size: 1rem;
      padding-left: 1.5em;
      position: relative;
      margin-right: .4rem; }
      aside header .sandwich-icon::before {
        position: absolute;
        top: 0.25em;
        left: 0;
        width: 1em;
        border-top: 0.375em double #fff;
        border-bottom: 0.125em solid #fff;
        content: "";
        height: 0.125em; }
  aside .contact-list ul {
    display: flex;
    flex-direction: column; }
  aside .contact-list li {
    display: flex;
    justify-content: space-between;
    padding: .5em .5rem; }
    aside .contact-list li .user-info {
      flex-grow: 1;
      margin: 0 .8rem; }
      aside .contact-list li .user-info p {
        font-size: .7em; }
      aside .contact-list li .user-info .user-name {
        font-size: .8em; }
    aside .contact-list li .timer {
      align-self: center;
      background-color: #3a3c8e;
      border-radius: 15px;
      font-size: .6em;
      margin-right: 1rem;
      min-width: 40px;
      padding: .5em .4rem;
      text-align: center; }
  aside .contact-list .active {
    background-color: #f23f79; }
    aside .contact-list .active .timer {
      background-color: #fff;
      color: #f23f79; }

.messages-part {
  display: flex;
  flex-direction: column;
  width: 60%; }
  .messages-part .conversation {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
    .messages-part .conversation .message {
      display: flex;
      font-size: .7rem;
      margin: 1rem; }
      .messages-part .conversation .message .photo {
        align-self: flex-end; }
      .messages-part .conversation .message .message-text {
        border-radius: .75rem;
        padding: .5rem .7em;
        max-width: 50%;
        position: relative; }
        .messages-part .conversation .message .message-text .time {
          position: absolute;
          color: lightgrey;
          bottom: -1rem;
          font-size: .5rem; }
    .messages-part .conversation .incoming-message {
      color: #fff; }
      .messages-part .conversation .incoming-message .photo {
        margin-right: .5rem; }
      .messages-part .conversation .incoming-message .message-text {
        background-color: #989ad7; }
        .messages-part .conversation .incoming-message .message-text .time {
          right: 0; }
    .messages-part .conversation .outcoming-message {
      justify-content: flex-end; }
      .messages-part .conversation .outcoming-message .photo {
        order: 2;
        margin-left: .5rem; }
      .messages-part .conversation .outcoming-message .message-text {
        background-color: #f1f1fb; }
        .messages-part .conversation .outcoming-message .message-text .time {
          left: 0; }
  .messages-part .message-field-container textarea {
    border-radius: 1.5rem;
    height: 2rem;
    margin: 1rem;
    padding: 1em .5rem;
    width: 70%; }

/*# sourceMappingURL=mainstyles.css.map */
