	// COLORS:

$a-text-violet: #3b3e99;
$active-tab-bg: #3b3e99;
$aside-bg-violet: #3b3e99;
$input-underline-violet: #3b3e99;

$main-text-black: #000;

$active-timer-bg-white: #fff;
$icons-white: #fff;
$main-text-white: #fff;
$messages-bg-white: #fff;

$a-hover-text-color: #f1f1fb;
$forms-tab-buttons-bg: #f1f1fb;
$input-bg-violet: #f1f1fb;
$my-message-bg: #f1f1fb;

$buttons-bg-violet: #989ad7;
$forms-border-violet: #989ad7;
$menu-shadow-violet: #989ad7;
$message-from-bg: #989ad7;

$active-bg:#f23f79;
$active-timer-text-pink: #f23f79;

$hover-bg: #484cc4;
$timer-bg: #3a3c8e;


// FONTS:

$font-base: 20px;
