@import "mixins";

.contact-list {
	ul {
		// @include display-flex (column);
		height: calc(100vh - 70px);
		overflow-y: auto;
	}

	li {
		@include display-flex (row);
		justify-content: space-between;
		padding: .5em .5rem;
		&:hover {
			background-color: $hover-bg;
		}
	}
	
	.user-info {
		flex-grow: 1;
		margin: 0 .8rem;
	}
	
	p {
		font-size: .7em;
	}

	.user-name {
		font-size: .8em;
		}
	
	.timer {
		align-self: center;
		background-color: $timer-bg;
		border-radius: 15px;
		font-size: .6em;
		margin-right: 1rem;
		min-width: 40px;
    	padding: .5em .4rem;
    	text-align: center;
	}

	.user--active {
		background-color: $active-bg;

		&:hover {
			background-color: $active-bg;
		}

		.timer {
			background-color: $active-timer-bg-white;
			color: $active-timer-text-pink;
		}
	}
}
