// RESET:

html, body, footer, header, 
div, section, article, aside, nav, 
span, p, a,
ol, ul, li, form, label, 
table, caption, tbody, tfoot, thead, tr, th, td,
input, button, textarea,
img, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// DEFAULT STYLES:

* {
  box-sizing: border-box;
}

html {
  height:100%;
  font-family: Arial, serif;
  font-size: $font-base;
}

input{
    height: 1.2rem;
    outline: none;
    padding-left: .5rem;
}

textarea {
  resize: none;
}

button {
  border-radius: .75rem;
  background-color: $buttons-bg-violet;
  color: $main-text-white;
  height: 1.5rem;
  &:hover {
    background-color: $hover-bg;
  }
}

a {
  color: $a-text-violet;
  text-decoration: none;
}

