@import "mixins";
.messages-part {
	@include display-flex (column);
	flex-grow: 1;
	overflow: auto; 
	width: 60%;

	@media screen and (max-width: 600px) {
    	width: 0;
	}
	
	@media screen and (min-width: 601px) and (max-width: 800px) {
		width: 50%;
	}

	.conversation {
		// @include display-flex (column);
		// flex-grow: 1;
		height: calc(100vh - 83px);
    	overflow-y: auto;

	}

	.message {
		@include display-flex (row);
		font-size: .7rem;
		margin: 1.75rem;
	}

	.photo {
		align-self: flex-end;
	}

	.message-text {
    	border-radius: .25rem;
   		padding: 1.25rem 2em;
    	max-width: 50%;
    	position: relative;	
			}

	.time {
    	position: absolute;
    	color: lightgrey;
    	bottom: -1rem;
   		font-size: .5rem;
    }
}

